instaloader
yt-dlp
requests
aiohttp
aiofiles
pydub
python-telegram-bot
ffmpeg-python
python-dotenv
flask
asyncio
pydub
pydrive
eyed3
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

